[client]
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]

user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp

lc_messages_dir	= /usr/share/mysql
lc_messages		= en_US

skip-external-locking
skip-networking

max_connections			= 100
connect_timeout			= 5
wait_timeout			= 600
max_allowed_packet		= 16M
thread_cache_size       = 128
sort_buffer_size		= 512K
net_buffer_length 		= 8K
bulk_insert_buffer_size	= 16M
tmp_table_size			= 32M
max_heap_table_size		= 32M

myisam_recover_options = BACKUP
key_buffer_size			= 16M
open-files-limit		= 2000
table_open_cache		= 64
myisam_sort_buffer_size	= 8M
concurrent_insert		= 2
read_buffer_size		= 256K
read_rnd_buffer_size	= 512K

query_cache_limit		= 128K
query_cache_size		= 64M

default_storage_engine			= InnoDB
innodb_buffer_pool_size			= 16M
innodb_additional_mem_pool_size = 2M
innodb_log_buffer_size			= 8M
innodb_file_per_table			= 1
innodb_open_files				= 400
innodb_io_capacity				= 400
innodb_flush_method				= O_DIRECT
innodb_lock_wait_timeout 		= 50

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size 	= 20M
sort_buffer_size 	= 20M
read_buffer 		= 2M
write_buffer 		= 2M